.fotoss{ 
    width:30px;
    border: 15px black solid;
    border-radius: 50%
  }
  .section2{
    text-align: center
  }
  #f1 {
    width: 50%;
    z-index: -5;
    position: relative;

  }
  #mini {
    position: absolute;
    top: 60px;
    right: 0;
    top: 131px;
    right: 70px;}

    h1 {
    font-size: 31px;
 
    margin: 0;
    padding: 0;
}
.texto {
    position: absolute;
    padding: 70px;
    text-align: left;
    z-index: -4}

 h6 {
    font-size: 19px;
    color: gray;
}

@media screen and  (max-width: 480px)  {
  #mini{
        top: 70px;
    right: 10px;
    display: inline-block;
    width: 50px;
  }
  .texto{
    padding: 10px 20px;
  }
  .h61{display: none}
  h1{font-size: 25px}

#f1 {
    width: 90%;
    top: 44px;}
}
