
*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Oswald', sans-serif;}


.section1 {
  
  background-image: url("../img/home.jpg");
  background-size: cover;
  height: calc(100vh);
  width: 100%
}

#logo {
    padding-left: 25px;
    position: absolute;
    float: left;
}
.imghome {
  width: 159px;

}
#logo, #menu, .botonesder {
display: inline-block;}

.menumenu {
    width: 100%;
}

header {
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  padding-top: 10px;
  border-bottom: 1px solid #f7f7f7
}
nav, #menu {
  width: 100%;
 }
.es{display: none}

.botonesder {
    width: 170px;
    position: absolute;
    right: 0;
    display:flex;
    justify-content: space-between;
      margin-right: 50px;}

.icon{
    margin: 0 10px;
    font-size: 20px;
}
#burguer{
    float: right;
    margin-right: 10px;
        margin-top: -3px;
}
#burguer li {
    background-color: black;
    width: 25px;
    height: 1px;
    margin: 8px 0;
    list-style: none;
}
#menu{
    overflow: hidden;
    text-align: center;
    height: 600px;
    position: relative;

  }

  #menu .li{
   display: inline-block;


  }
  #menu a{
    text-decoration:none;
    color:black;
    padding: 10px;
}

.sub{
 display:none;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding-top: 31px;
    padding-bottom: 50px;
    z-index: 1;

  }
.sub .lili{
    width: 100%;
    float: left;
    display: inline-block;
    text-align: left;
    padding: 22px 0 21px 71px;
    font-size: 24px;
    z-index: 1
}
    



.li:hover > .sub{
    display: block;
}
li:hover 
{color: #b3b0b0;}


 .sub2{
  display: none;
    float: right; /********¿?*****/
    position: absolute;
    left: 289px;
      border-left: 1px solid #c7c5c5;
    height: 87%;
    padding: 0 40px;
    top: 47px
}
.lili:hover > .sub2{
  display: block;
}
.lilili:hover .hover{
   visibility: visible}

.lilili:hover .hoverimg{
     visibility: visible}

.hover {
    display: inline;
    visibility: hidden;
    color: #b3b0b0;
    font-weight: 100;
} 
.sub2 .lilili {
    padding: 15px 0;
    font-size: 15px;
    margin-left: -9px;
    list-style: none
}


.sub2 a {
    color: #b3b0b0;
    font-weight: 100;}

p{text-align: left;
color: black}

.ultima{
  padding-bottom: 50px
}
.todos{
  font-size: 19px;
  font-weight: 100;}

h1 {
    text-align: left;
    padding: 20px;}

.hoverimg {
    position: absolute;
    top: 0;
       visibility: hidden;
           right: -603px;
}

input {
 display: none}

