 @media screen and  (max-width: 480px)  {
  
  .imghome {
    width: 130px;}
    #logo {
    padding-left: 11px;}
 .icon {
    margin: 0;
    font-size: 17px;  }


.botonesder a{
  display: none
}
.botonesder {
    width: 100px;}

    #menu .li {
    display: block;
    text-align: left;
      padding: 20px;
    font-size: 14px;
    border-bottom: solid 1px white;
}
#menu {
    background-color: #f7f7f7;
    height: auto;
    top: 40px;
    z-index: 1
  
}

#menu{
  visibility: hidden;
}

.es {display: block;}


.sub {
    display: none;
    position: relative; 
    top: 20px;
    margin: 0;
    padding:0;
    left: -20px;
 
}

.sub .lili {
   background-color: white;
   border-bottom: solid 1px #f7f7f7;
   padding: 20px 0 20px 20px;
   font-size: 20px;

   }


.sub2 {
    position: relative;
    float: none;
    left: 0;
    border-left: 0;
    height: auto;
    padding: 0;
    top: 0;
}
.sub2 .lilili {
  margin: 0
}
.modelo {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
}
.todos{
  font-size: 14px;
    color: #bdbdbd;
    padding-left: 10px;
}
.hover {
    visibility: visible;
    display: inherit;
    color: black;
    padding-left: 12px;
    font-weight: 400;
}





input:checked ~ #menu{ 
  visibility: visible; 
}

/*PARA CREAR EL BOTÓN*/
label{ 
position: absolute;  /*para posicionar el botón en el header*/
display: block;  /*para que funcione*/
cursor: pointer;  /*para que aparezca el cursor al pasar por encima*/
width: 44px;  /*medida de ancho*/
height: 44px;  /*medida de alto*/
right: 0px;  /*espacio por la derecha o izquierda*/
top: 0px; /*espacio por arriba*/}


/*PARA CREAR LAS LÍNEAS DEL MENÚ HAMBURGUESA*/
label span { /* Crea las tres líneas del menú hamburguesa, en realidad solo hace 1 linea, es como un div y a raíz de esta se replica la línea de arriba y de abajo (before y after),*/
position: absolute;  /*para posicionar los span*/
top: 0;
right: 0;
bottom: 0; /*para poder controlar los span y centrarlos*/
left: 0;
width: 26px;  /*medida de ancho del span*/
height: 1px;  /*medida de alto del span*/
margin: auto; /*para centrar*/
background: black; /*color del span*/}

label span:before,
label span:after {  /*+ con before and after se usa para poner algo antes o después del span*/
position: absolute;
width: inherit; /*coge la altura de la etiqueta donde está metido (span en este caso)*/
height: inherit; /*coge la anchura de la etiqueta donde está metido (span en este caso)*/
content: ''; /*dice que si tiene contenido aunque esté vacío para que así funcione*/
background: black;
left: 0;}

label span:before { /* le decimos que el span inventado suba -0.5 y distanciarse del padre */
top: -0.5em;}

label span:after {/* y este que baje -0.5 */
bottom: -0.5em;}




/*PARA CREAR LA ANIMACIÓN DEL MENÚ HAMBURGUESA*/
/*para las transform y las transition se usa -ms- y -webkit- antes para asegurarse que funcione en todos los navegadores*/
input:checked + label span { /* cuando el usuarios clicke, la línea central se quita */
background: none;}

label span {
transition: background 0s .1s; /* retrasamos el efecto 0,1 segundos*/}

label span:before {
transition-property: top, transform;}

label span:after {
transition-property: bottom, transform; }

input:checked + label span:before {
top: 0; /*esto hace que la línea de antes se ponga en el centro*/
transform: rotate(45deg);} /* esto es el giro en diferentes navegadores*/

input:checked + label span:after {
bottom: 0; /* esto hace que la línea de después se ponga en el centro*/
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);} 
transform: rotate(-45deg);} /* esto es el giro*/


input:checked + label span:before,
input:checked + label span:after {
transition-delay: 0s, .25s;} 

label span:before,
label span:after {
transition-delay: .25s, 0s;
transition-duration: .25s, .25s;}

}